# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# VS Code
.vscode/

# mypy
.mypy_cache/

# OS
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# Logs
*.log
